torch
torchvision
torchaudio
transformers
librosa
numpy
transformers
scikit-learn
sentencepiece
jiwer
simpleaudio
keyboard
deepspeed
hjson
msgpack
ninja
nvidia-ml-py
packaging
psutil
py-cpuinfo
pydantic
tqdm
nnAudio
nltk
sentence_transformers